<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-room">			
				<div class="p-room__mv"></div>			
			  <div class="p-room__inner l-content-wrap-default">
			 	<div class="c-title">Room</div>


				<div class="p-room__container">                       							
					<div class="p-room__item"> 
						<p class="p-room__num">01</p>        	
						<h3 class="p-room__subtitle">SWEET ROOM</h3>						
						 <p class="p-room__text">
							 一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
						 </p>										 	
					</div>			 
						 <div class="p-room__item ">
							<img src="/asset/image/room_01.jpg" alt="room01" class= "room-room1">																											
							<!-- "p-room__item"のおわり                       							 -->
						 </div>						 						 																	
					<!-- "p-room__container"のおわり                       							 -->
						</div>

						<div class="p-room__container p-room__container-rev">                       							
							<div class="p-room__item"> 
								<p class="p-room__num">02</p>        	
								<h3 class="p-room__subtitle">DELUXE ROOM</h3>						
								 <p class="p-room__text">
									 一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
								 </p>				
									 
							</div>			 
		
								 <div class="p-room__item ">
									<img src="/asset/image/room_02.jpg" alt="room01" class= "room-room2">																											
									<!-- "p-room__item"のおわり                       							 -->
								 </div>			

							<!-- "p-room__container"のおわり                       							 -->
								</div>

								<div class="p-room__container">                       							
									<div class="p-room__item"> 
										<p class="p-room__num">03</p>        	
										<h3 class="p-room__subtitle">STANDARD ROOM</h3>						
										 <p class="p-room__text">
											 一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを兼ね備えた、上質空間をご提供いたします。専用カードキーによるフロアセキュリティーシステムを導入。安心してご滞在いただけます。
										 </p>															 
									</div>			 
				
										 <div class="p-room__item ">
											<img src="/asset/image/room_03.jpg" alt="room01">																											
											<!-- "p-room__item"のおわり                       							 -->
										 </div>			
										 <!-- "p-room__container"のおわり                       							 -->
								</div>		
                
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>
