<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-areaguide">
                <div class="p-areaguide__mv"></div>
                <div class="p-areaguide__inner l-content-wrap-default">
                    <h2 class="c-title">AREA GUIDE</h2>
                    <h3 class="p-areaguide__subtitle">大阪を代表する観光名所や京都の見どころをご紹介。<br>
                        ぜひ大阪観光の計画にお役立てください。</h3>
                    <p class="p-areaguide__text">
                        ホテル周辺や、京都観光の人気スポットをご紹介します。<br>
                        梅田・難波・心斎橋周辺などをお楽しみください。
                    </p>
                    <h2 class="c-title">AREA MAP</h2>
                    <img src="../../asset/image/areaguide_02.png" class="p-areaguide__map" alt="エリアマップ">
                    
                    <h3 class="p-areaguide__subtitle">大阪・梅田周辺</h3>
                    <div class="l-col3">
                        <div class="l-col__list">
                            <img src="../../asset/image/access_04.jpg" alt="">
                            <h4>大阪駅</h4>
                            <button class="p-areaguide__detailButton js-modal-opener">詳しくみる</button>
                        </div>

                        <div class="l-col__list">
                            <img src="../../asset/image/access_07.jpg" alt="">
                            <h4>スカイビル</h4>
                            <button class="p-areaguide__detailButton js-modal-opener">詳しくみる</button>
                        </div>


                        <div class="l-col__list">
                            <img src="../../asset/image/access_02.jpg" alt="">
                            <h4>大阪城</h4>
                            <button class="p-areaguide__detailButton js-modal-opener">詳しくみる</button>
                        </div>                    
                    </div>

                    <h3 class="p-areaguide__subtitle">難波・心斎橋周辺</h3>
                    <div class="l-col3">
                        <div class="l-col__list">
                            <img src="../../asset/image/access_05.jpg" alt="">
                            <h4>心斎橋商店街</h4>
                            <button class="p-areaguide__detailButton js-modal-opener">詳しくみる</button>
                        </div>
                        <div class="l-col__list">
                            <img src="../../asset/image/access_03.jpg" alt="">
                            <h4>ユニバーサル・スタジオ・ジャパン</h4>
                            <button class="p-areaguide__detailButton js-modal-opener">詳しくみる</button>
                        </div>
                        <div class="l-col__list">
                            <img src="../../asset/image/access_08.jpg" alt="">
                            <h4>吉野家</h4>
                            <button class="p-areaguide__detailButton js-modal-opener">詳しくみる</button>
                        </div>
                    </div>
                </div>
                
            </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>
        <script src="/asset/js/modal.js"></script>

    </body>
</html>
