<header class="l-header" id="header">
    <header class="l-header" id="header">
		<div class="l-header__inner">
			<a class="l-header__logo" href="/"><img src="/asset/image/logo_header.svg" alt="logo" decoding="async"></a>
			<button class="c-button p-hamburger js-titleLoadAnimDelay2" type="button" aria-controls="global-nav" aria-expanded="false" id="js-buttonHamburger">
				<span class="p-hamburger_line"><span class="u-visuallyHidden">メニューを開閉する</span></span>
			</button>
			<div class="js-nav-cover is-hidden"></div>
			<div class="l-global_nav is-hidden" id="global_nav">
				<div class="l-container">
					<ul class="l-global_nav_box">
						<li class="l-global_nav_item"><a class="l-global_nav_link" href="/">top</a></li>
						<li class="l-global_nav_item"><a class="l-global_nav_link" href="/room/">room</a></li>
						<li class="l-global_nav_item"><a class="l-global_nav_link" href="/areaguide/">area guide</a></li>
						<li class="l-global_nav_item"><a class="l-global_nav_link" href="/access/">access</a></li>
						<li class="l-global_nav_item"><a class="l-global_nav_link" href="/contact/">contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</header>