<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        <main>
            <article class="p-contact">
                <div class="p-contact__mv"></div>
      　          <div class="p-contact__inner l-content-wrap-default">
                     <h2 class="c-title">CONTACT</h2>                     
          　　　　　 <h3 class="p-contact__subtitle">
            ご不明な点がございましたら
            <br>
            お気軽に下記のフォームよりお問い合わせください。
          </h3>
            <p class="p-contact__text">
                お問い合わせのご返答にはお時間をいただく場合がございます。
                <br>
                当日・翌日のお問い合わせ、その他お急ぎの場合は、 
                <br>
                恐れ入りますがお電話にてお問い合わせくださいますようお願いいたします。
            </p>
                
            <form action class= "p-contact__form">                
                <div class="p-contact__inputWrap">
                    <label for="list" class="p-contact__label">お問い合わせ項目</label>
                    <select name="list" id="list" class="p-contact__input">
                        <option value="Lodging">宿泊について</option>
                        <option value="restaurant">レストランについて</option>
                        <option value="hotel">当ホテルについて</option>
                        <option value="other">その他</option>
                    </select>    
                  </div>

            
                  <div class="p-contact__inputWrap">
                     <label for="name" class="p-contact__label">お名前</label>
                     <input type="text" id="name" class="p-contact__input">
                 </div>
 
                 <div class="p-contact__inputWrap">
                     <label for="tel" class="p-contact__label">お電話番号</label>
                     <input type="text" id="tel" class="p-contact__input">
                 </div>
 
                 <div class="p-contact__inputWrap">
                     <label for="email" class="p-contact__label">メールアドレス</label>
                     <input type="text" id="email" class="p-contact__input">
                 </div>
 
                 <div class="p-contact__inputWrap">
                     <label for="textarea" class="p-contact__label">お問い合わせ内容</label>
                     <textarea name="" id="textarea" cols="30" rows="8" class="p-contact__textarea"></textarea>
                 </div>
 
                 <p class="p-contact__note"> 弊社の個人情報の取扱いについては<a href="#">プライバシーポリシー</a>をご覧ください。 </p>
 
                 <div class="p-contact__inputWrap p-contact__checkbox">
                     <label for="privacy" class="p-contact__checkLabel">
                         <input type="checkbox" id="privacy" name="agree">プライバシーポリシーに同意します。 </label>                        
                 </div>
                 <button type="submit" class="p-contact__btn">送信する</button>
                 </form>
                 </div>
             </form>
                     
 <!-- ↓p-contact__innerのおわり -->
                 </div>                
             </article>

        </main>

        <%- include('../_includes/_footer.ejs') %>

    </body>
</html>