<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %> 

        <title>Tenkue Hotel</title>

    </head>
</html>

    <body>
        <%- include('../_includes/_header') %>

        
        <main>
            <article class="p-faq">
                <div class="p-faq__inner">
                    <h2 class="p-faq__title"> よくあるご質問 </h2>
                    <dl class="p-faq__list">
                        <dt class="p-faq__accordion-q"> 希望の日にちに空室がないようなのですが。 </dt>
                        <dd class="p-faq__accordion-a"> インターネットでの販売は、全てのお部屋ではなく、限定されたタイプのみとなっております。<br> お手数ではございますが、一度お電話にて空室をご確認いただけます様、お願い申し上げます。 </dd>
                    </dl>
                    <dl class="p-faq__list">
                        <dt class=p-faq__accordion-q> 支払いに、クレジットカードは使えますか？ </dt>
                        <dd class="p-faq__accordion-a"> ダイナース・アメックス・ＪＣＢ・ＶＩＳＡ・ＵＣ・ＮＩＣＯＳ・ＤＣ・ＪＡＬ・ＴＳ３・ＶＩＥＷ・エクスプレスカード・セントラル・伊勢丹アイカード・エムアイカード・マスター・銀聯カード等のカードがご利用いただけます。 </dd>
                    </dl>
                    <dl class="p-faq__list">
                        <dt class="p-faq__accordion-q"> 朝食はどこで食べられますか？ </dt>
                        <dd class="p-faq__accordion-a"> ご朝食はレストラン（和食 浮橋、カフェレストラン ル・タン、スカイダイニング＆ラウンジ サザンコート）と ルームサービスでご用意しております。 </dd>
                    </dl>
                    <dl class="p-faq__list">
                        <dt class="p-faq__accordion-q"> お子様との宿泊について </dt>
                        <dd class="p-faq__accordion-a"> 添い寝もしくはベビーベッドをご利用される乳児・幼児のお子様のご宿泊料金は無料となります。<br> 小学生以上のお子様につきましては、エキストラベッド（有料 ￥6,050（税込））をご用意させていただきます。<br>
                            <br> ※ベビーベッド（無料）をご希望の場合はあらかじめご連絡ください。ご一緒にオムツ用ごみ箱も ご用意いたします。<br> またスリッパ（23ｃｍのみ）や浴衣（75、95、110㎝）もございますので、お気軽に お申し付けください。（いずれも数量限定）
                        </dd>
                    </dl>
                    <dl class="p-faq__list">
                        <dt class="p-faq__accordion-q"> 客室の備品・アメニティーは？ </dt>
                        <dd class="p-faq__accordion-a"> 歯ブラシ、ヘアブラシ、レザー、コーム、綿棒、ヘアーバンド、シャワーキャップ、コットン、シャンプー、リンス、石鹸、ボディーシャンプー、スリッパ、パジャマ、ボディウォッシュタオル、タオル類一式、ヘアドライヤー、シューシャインクロス等をご用意しております。 </dd>
                    </dl>
                    <dl class="p-faq__list">
                        <dt class="p-faq__accordion-q"> キャンセルポリシーについて </dt>
                        <dd class="p-faq__accordion-a"> キャンセルのご連絡は、ご宿泊日の2日前までにお願いいたします。それ以降は以下のキャンセル 料を頂戴いたします。<br> 前日･･宿泊料金の20% / 当日･･宿泊料金の80% / 不泊･･宿泊料金の100%<br>
                            <br> ※キャンセル料はプランによって異なります。プランに記された案内文を必ずご確認ください。
                        </dd>
                    </dl>
                </div>
            </article>
        </main>
        <%- include('../_includes/_footer.ejs') %>
        <script src="/asset/js/accordion.js"></script>

    </body>
</html>
