.p-room__mv {
    width: 100%;
    height: 60vh;
    background-image: url(/asset/image/room_04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .p-room__inner {
    padding-top: 75px;
  }


  .l-content-wrap-default {
    position: relative;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box !important;
    padding-right: 2.4% !important;
    padding-left: 2.4% !important;
  }
  
  
  .c-title {
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-size: 24px;
  }
  
  .p-room__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .p-room__container-rev {
    flex-direction: row-reverse;
  }
  
  .p-room__item {
    width: 100%;
  } 

  .p-room__num {
    margin-bottom: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 32px;
  }


.p-room__subtitle {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .p-room__text {
    margin-bottom: 1rem;
  }
  

  .p-room__img {
    width: 50%;
    margin-bottom: 50px;
  }
  
  
  // レスポンシブへの対応

  .p-room {
    margin-top: 80px;
    padding-bottom: 150px;
    @include tab-layout() {
        padding-bottom: 80px;
    }
    @include sp-layout() {
        padding-bottom: 75px;
    }
    &__mv {
        width: 100%;
        height: 60vh;
        background-image: url(/asset/image/room_04.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__inner {
        padding-top: 75px;
        @include sp-layout() {
            padding-top: 50px;
        }
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include sp-layout() {
            flex-wrap: wrap;
        }
        &:not(:last-child) {
            margin-bottom: 7rem;
            @include tab-layout() {
                margin-bottom: 5.5rem;
            }
            @include sp-layout() {
                margin-bottom: 3.5rem;
            }
        }
        &-rev {
            flex-direction: row-reverse;
        }
    }
    &__item {
        width: 47.5%;
        @include sp-layout() {
            width: 100%;
        }
    }
    &__num {
        margin-bottom: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.1em;
        @include font-size(32);
    }
    &__subtitle {
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    &__text {
        margin-bottom: 1rem;
    }
    &__link {
        width: 250px;
        padding: 0.24em 1em;
        color: $color-primary;
        border: 2px solid $color-primary;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        display: block;
        position: relative;
        transition: background-color 0.3s ease-in-out;
        @include font-size(18);
        @include sp-layout() {
            margin: 0 auto 2rem;
        }
        &:hover {
            background-color: rgba($color-primary, 0.1);
        }
        &:after {
            content: '';
            width: 75px;
            height: 2px;
            background-color: $color-primary;
            position: absolute;
            top: 50%;
            right: -25px;
            transform: translateY(-50%);
        }
    }
    &__img {
        width: 50%;
        margin-bottom: 50px;
        @include sp-layout() {
            width: 100%;
            margin-bottom: 25px;
        }
    }
}