.p-top {
  &__container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding: 60px 0;

  }

  &__space {
    padding: 0 30px;
  }

  &__title {
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 60px;
  }

  &__text {
    line-height: 2.5;
    text-align: center;
  }

  &__button {
    display: block;
    margin:20px auto 30px auto;
    max-width: 400px;
    padding: 0.6em 0.2em;
    color: white;
    text-align: center;
    background-color: #3683cc;
  }

  &__area-guide {
    display: flex;
    justify-content: space-between;
    &__list {
      width: 45%;
    }



    &__img {
      display: inline-flex;
      justify-content: space-between;
      margin-top: 5%;
      margin-bottom: 5%;
      img {
        width: 23%;
      }
    }
  }


  &__room {

    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    &__item {
      width: 30%;
      
      .p-top__text {
        
      }
    }

    &__subtitle {
      font-size: 20px;
    }

 
  }
}
