<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('./_includes/_header') %>

        <main>
            <article class="p-top">
                <div class="slider"></div>
                
                <div class="p-top__container">
                    <div class="p-top__concept">
                        <h2 class="p-top__title">CONCEPT</h2>
                        <p class="p-top__text">
                            日本の文化に触れて頂き、日本をより好きになって頂き、お客様・従業員全てが笑顔になれるおもてなしを実現致します。<br> 
                            各種交通機関からのアクセスも良く、外国人観光客だけでなく、国内の家族旅行者など、<br> 
                            多くのお客様の観光拠点と旅行者とつなぐ場所として、快適で贅沢な空間を提供致します。<br> 
                            宿泊期間やご人数の関わらずご利用頂け、タイトなスケジュールになりがちなご予定も出来る限りサポートできるよう、<br> 
                            チェックインやチェックアウトのお時間もご相談ください。<br> さらに、長期滞在でもお楽しみ頂けるよう、様々なアクティビティーの実施も予定しております。
                        </p>
                    </div>
                    <div class="p-top__area-guide">
                        <h2 class="p-top__title">AREA GUIDE</h2>
                        <div class="p-top__area-guide__left"></div>
                        <div class="p-top__area-guide__right">
                            <p class="p-top__text">
                                各観光名所へもスムーズに<br>
                                アクセスできる好立地。<br>
                                大阪を代表する観光名所や大阪の<br>
                                見どころをご紹介。<br>
                            </p>
                            <div class="p-top__img">
                            </div>
                            <a href="">詳細はこちら</a>
                        </div>
                        
                    </div>
                    <div class="p-top__room">
                        <h2 class="p-top__title">ROOM</h2>
                        <div class="l-col3">
                            <div class="l-col3__list">
                                <img src="" alt="">
                                <h3 class="p-top__subtitle">SWEET ROOM</h3>
                                <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                            </div>
                            <div class="l-col3__list">
                                <img src="" alt="">
                                <h3 class="p-top__subtitle">DELUXE ROOM</h3>
                                <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                            </div>
                            <div class="l-col3__list">
                                <img src="" alt="">
                                <h3 class="p-top__subtitle">STANDARD ROOM</h3>
                                <p>雰囲気漂うプライベート空間。心地よく安らぎへと誘います。</p>
                            </div>
                        </div>
                        <a href="">詳細はこちら</a>
                    </div>
                    
                    <div class="p-top__access">
                        <div class="l-col2">
                            <div class="l-col2__list">
                                <img src="" alt="">
                            </div>
                            <div class="l-col2__list">
                                <h2 class="p-top__title">ACCESS</h2>
                                <p class="p-top__text"> 〒530-0001 大阪市北区梅田3丁目1番1号<br /> TEL.06-1234-5678(代) </p>
                                <a href="">詳細はこちら</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </article>

        </main>

        <%- include('./_includes/_footer.ejs') %>
        <script src="/asset/js/slider.js"></script>

    </body>
</html>
