<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('./_includes/_common.ejs') %> 

        <title>Tenkue App</title>

    </head>
</html>

    <body>
        <%- include('./_includes/_header') %>

        <main>
            <article class="p-top">
                
            </article>

        </main>

        <%- include('./_includes/_footer.ejs') %>

    </body>
</html>
